@import "compass/css3";

body,html {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
    background-color: #7b0000;
    -webkit-font-smoothing:antialiased;

}
p {
	margin:0;
}
h2,h3 {
	margin:0;
}

#layout {
	height: 200%;
	width: 100%;
	background: url(../img/bg.jpg) center top no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-align: center;
	position:relative;
}

.login {
	width: 100%;
	height: 100%;
	.logo {
		position:absolute;
		display: block;
		width: 215px;
		top: 60px;
		left: 50%;
		margin-left: -107px;
	
		@include single-transition(all, 500ms, ease-in-out, 800ms); 
		@include scale(10);
		@include opacity(0);

	}
	.bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		@include opacity(0);
		@include single-transition(opacity, 1s, ease-in-out, 800ms);

		p {
			font-size: 15px;
			line-height: 18px;
			color: #fff;

		}
		.fb-btn img {

			display: block;
			max-width: 245px;
			width: 80%;
			margin: 25px auto;

		}
	}

	&.active {
		.logo {
			@include scale(1);
			@include opacity(1);
		}
		.bottom {
			@include opacity(1);
		}
	}
}

.logged {
	@extend .login;

	.where-btn {
		display: block;
		width: 245px;
		height: 55px;
		line-height: 55px;
		font-size: 16px;
		color: #fff;
		margin: 25px auto;
		background: #380303;
		border-radius: 5px;
		text-decoration: none;

	}
	.profile-img img {
		width: 65px;
		border-radius: 65px;
		margin: 15px 0;
	}
}

.where {
	position: absolute;
	top: -150%;
	@include single-transition(all, 500ms );
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: #a60000;

	h2 {
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		widht: 100%;
		height: 80px;
		line-height: 80px;
	}
	h3 {
		font-size: 15px;
		margin-bottom: 5px;
	}
	ul {
		list-style: none;
		padding:0;
		margin:0;
		background: #fff;
		text-align: left;
	}
	li {
		padding: 25px;
		font-size: 15px;
		border-bottom: 1px solid #838383;
	}

	&.active {
		top:0;
	}
}

.success {
	width: 100%;
	height: 100%;
	background: #fff url(../img/bg-success.png) center 0 repeat;
	background-size: 100%;

	p {
		width: 100%;
		text-align: center;
		font-size: 22px;
		position: absolute;
		top: 50%;
		margin-top: -35px;
	}
}


