<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="layout">
            <div class="logged">
                <img class="logo" src="img/logo.png" alt="Logo" />
                <div class="bottom">

                    <figure class="profile-img">
                        <img src="<%= current_user.image %>">
                    </figure>
                    <p>YOUR FAVORITE MUSIC<br>YOUR FAVORITE PLACES</p>
                    <a href="#!/where" class="where-btn">
                        <span>Where are you <%= current_user.name %></span>
                    </a>
                </div>
            </div>
            <div class="where">
                <h2>WHERE ARE YOU?</h2>
                <ul>
                  <li>
                    <a href="/success">
                      <h3>H-Farm Serra<br> Good food for beautiful minds</h3>
                      <p>Via Sile 41, 31056 Roncade (TV)</p>
                    </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-ART</h3>
                        <p>Via Sile 41, 31056 Roncade (TV)</p>
                        </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-CAMP<br> Serra Good food for beautiful minds</h3>
                        <p>Via Sile 41, 31056 Roncade (TV)</p>
                        </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-ART</h3>
                        <p>via Sile 41, 31056 Roncade (TV)</p>
                        </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-CAMP<br> Serra Good food for beautiful minds</h3>
                        <p></p>
                        </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-ART</h3>
                        <p>via Sile 41, 31056 Roncade (TV)</p>
                        </a>
                    </li>
                    <li>
                    <a href="/success">
                        <h3>H-CAMP<br> Serra Good food for beautiful minds</h3>
                        <p></p>
                      </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Add your site or application content here -->

        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/underscore.min.js"></script>
        <script src="js/vendor/backbone.min.js"></script>


        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
