<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
    </head>
    <body>

    <script>
      function loadSong(){
        $.ajax({
          url: "/playing",
          beforeSend: function(){
            $("#playing").html("<span>Loading next track...</span>");
          },
          success: function(data){
            console.log(data);
            $(".success p").hide();
            $("#playing").show();
            $("#playing").html("<span>"+data.title+"</span>"+
                               "<span>"+data.artist_name+"</span>"+
                               "<span>"+data.album_title+"</span>"
                               //"<span><img src='"+data.album_cover+"'/></span>"
                              );
          }
        });
      }
      $(function(){
        window.setTimeout(loadSong, 4000);
        var t = window.setInterval(loadSong, 30000);
      });
    </script>

      <div id="layout">
          <div id="playing"></div>
          <div class="success">
            <p><strong>ENJOY</strong><br>YOUR FAVORITE<br> MUSIC!
            </br></br>
            Loading...
            <p>
          </div>    
        </div>

        <!-- Add your site or application content here -->

        
        <script src="js/vendor/underscore.min.js"></script>
        <script src="js/vendor/backbone.min.js"></script>


        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
